{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    <h1>TEMPLATE</h1>
	
	{% if movies %}
	<h3>var</h3>
	
	{% for movie in movies %}
	<h3>{{movie.name}}</h3>
	{% endfor %}
	{% else %}
	<h3>yq</h3>
	{% endif %}

    <ul>
    {% for x in listx %}
        <li style='background-color:{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' %}'>
        {{ x }}
        </li>
    {% endfor %}
    </ul> 
</body>
</html>